.revenue__box,
.order__box,
.products__box,
.users__box {
    padding: 20px;
    border-radius: 5px;
}

.revenue__box {
    background: var(--card-bg-01);
}

.products__box {
    background: var(--card-bg-03);
}

.order__box {
    background: var(--card-bg-04);
}

.users__box {
    background: var(--card-bg-02);
}